<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpendWise - Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to SpendWise Dashboard</h1>
        <a href="{{ url_for('dashboard') }}">Home</a>  <!-- Corrected URL here -->
        <table>
            <tr>
                <th>Account</th>
                <th>Amount</th>
                <th>Reason</th>
                <th>Type</th>
            </tr>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction['Account'] }}</td>
                <td>{{ transaction['Amount'] }}</td>
                <td>{{ transaction['Reason'] }}</td>
                <td>{{ transaction['Type'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
